<a class="btn contact">
    <div class="contact-header" style="background-color:<%= groupColor %>"></div>
    <div class="img-div">
        <img src="/img/<%- photo %>" class="contact-image img-circle">
    </div>
    <div class="contact-name">
        <h4> <%= name %></h4>
    </div>
    <div class='contact-info'> 
        <div style="float:right;">
            <button href= "#contacts/edit/<%- id %>" class="btn btn-primary editBtn" title="Edit">
                <span class="glyphicon glyphicon-edit bigger-glyphicon"></span>
            </button>
            <button type="button" class="btn btn-danger deleteBtn" title="Delete">
                <span class="glyphicon glyphicon-trash bigger-glyphicon"></span>
            </button>
        </div>
        <br><br>
        <span class='glyphicon glyphicon-info-sign icon-black'></span>
        <label><%= group %></label>
        <br>
        <span class="glyphicon glyphicon-map-marker icon-black"></span>
        <label><%= address %></label>
        <br>
        <span class="glyphicon glyphicon-envelope icon-black"></span>
        <label><%= email %></label>
        <br>
        <span class="glyphicon glyphicon-earphone icon-black"></span>
        <label><%= phone %></label>
    </div>
</a>